.tag-chip {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 2px 8px;
    border-radius: 16px;
    margin: 2px;
  }
  
  .tag-chip .text-xs {
    white-space: nowrap;
  }
  
  .delete-button {
    padding: 0;
    margin-left: 4px;
  }
  .MuiIconButton-root {
    padding: 0;
  }